h2{
    font-family: 'Times New Roman', Times, serif;
    background-color: red;
    color: green;
    text-align: center;
    font-size: 50px;
}

img {
    size: 400px
}

petName {
    color: green;
    font-size: 45px;
}

petDescription {
    color: green;
    font-size: 50px;
}

